<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".CalendarMonthWidgetReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/calendar_widget_compact_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_month_widget_info" />
        </receiver>

        <receiver
            android:name=".CalendarMonthExpandedWidgetReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/calendar_widget_expanded_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_month_expanded_widget_info" />
        </receiver>
    </application>
</manifest>
